body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140 px;
    margin: 0 auto;
}

h3 {
    color: #fff;
}

.footer {
    padding: 10px;
    text-align: center;
    max-width: 1140 px;
    margin: 0 auto;
    background: #ef98aa;
}

div {
    background: #cc3366;
}

.div-con {
    display: grid;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    text-align: center;
}

.body-con {
    background-color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.infor {
    background-color: #fff;
}

.content-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        background-color: #fff;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu li {
    list-style: none;
    margin-left: 10px;
}

.menu li:hover {
    background-color: #e25098;
    transition: 0.5s;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 300px;
}

/* tablet */
@media only screen and (max-width: 768px) {
    .div-con {
        padding: 1rem 0;
        justify-content: center;
        height: auto;
        text-align: center;
        grid-template-columns: 1fr 1fr;
    }

    .menu {
        grid-auto-flow: column;
        text-align: center;
        width: 100%;
    }

    .menu li {
        padding: 1rem 0;
        border-radius: 10px;
    }

    .menu li:hover {
        background-color: #e25098;
        transition: 0.5s;
    }

    img {
        width: 200px;
    }

}

/* phone */
@media only screen and (max-width: 500px) {
    .div-con {
        padding: 1rem 0;
        height: auto;
    }

    .menu {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;
        width: 100%;
    }

    .menu li {
        padding: 1rem 0;
        border-radius: 10px;
        margin-left: 0;
    }

    .menu li:hover {
        background-color: #e25098;
        transition: 0.5s;
    }

    .body-con {
        flex-direction: column;
        grid-template-columns: 1fr;
    }

    img {
        width: 100%;
    }
}

.Maincontent {
    background-color: #fff;
    justify-content: center;
    color: black;
}
